<% include ../partials/header %>

<div class="container">
    <div class="row">
            <div class="col-md-8 col-sm-8 pull-left">

                    <!-- button create -->
                    <div>
                        <% if(currentUser) { %>
                            <p><a class="btn btn-warning pull-left" href="forums/new">Add a New Post</a></p>
                                <% }%>
                    </div>
                    <br>

                    <!-- left -->
                    <%posts.forEach(post => { %>
                        <ul class="list-unstyled ul-Events">
                            <li class="media eventlist">
                                <% if(post.image) { %>
                                <img src="<%=post.image%>" class="mr-3 forumImage pull-left" alt="image">
                                <% }%>
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">
                                        <a class="userlink" href="/forums/<%=post._id%>">
                                            Post title: <%=post.title%> - it has been 
                                            <%=post.forumresponse.length%> times responded to
                                        </a>
                                    </h5>
                                </div>
                            </li>
                            <h4>Created on <%=moment(post.created).format( 'MMM-DD-YYYY')%> at <%=moment(post.created).format('LT')%></h4>                       
                        </ul>
                    <% })%>
            </div>
            <!-- and this will be in partials -->
            <div class="col-md-4 col-sm-4 pull-right">

                <div class="title">
                    <p> The post popular posts</p>
                </div>
                <div class="row trending">
                                <%trendingPosts.forEach(post => { %>
                                    <ul class="list-unstyled ul-trending">
                                        <li class="media trendinglist">
                                            <div class="media-body">
                                                <h5 class="mt-0 mb-1">
                                                    <a class="userlink" href="/forums/<%=post._id%>">
                                                        Post title: <%=post.title%>
                                                    </a>
                                                </h5>
                                            </div>
                                        </li>
                                    </ul>
                                <% })%>
                        </div>
                </div>
            </div>
    </div>
</div>
<% include ../partials/footer %>