<% include ../partials/header %>
<h1>Welcome to forum discussions!!!!</h1>
<div class="container">
    <div class="row">
        <% if(currentUser) { %>

            <div class="col-md-8 col-sm-8 pull-left">
                <%if(post.image) {%>
                    <div class="caption">
                        <img class="forumpic" src="<%=post.image%>" alt="image">
                    </div>
                <% } %>
                <p>
                    <h1><strong><%=post.title%></strong></h1>
                </p>
                <p>
                <h1><strong>DUZINA<%=post.forumresponse._id%></strong></h1>
                </p>
                <p>
                    <h3><em><%=post.content%></em></h3>
                </p>
                <%if(post.forumresponse && post.forumresponse.lenght){%>
                    <% post.forumresponse.forEach(forumresponse => { %>
                        <ul class="list-unstyled ul-Events">
                            <li class="media eventlist">
                                <%= forumresponse.content %>
                                <%= forumresponse.created %>
                            </li>
                        </ul>
                    <% }) %>         
                <% } %>
             
            <% } %>   
        </div>
    </div>
</div>
<% include ../partials/footer %>