<% include ../partials/header %>

<div class="container">
  <div class="row">
    <h1 style="text-align:center">Edit <%=motocycle.name%>'s' info</h1>
    <div style="width: 30%; margin: 40px  auto">
      <form action="/motocycles/<%=motocycle._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="motocycle[name]"
            value="<%=motocycle.name%>"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="motocycle[brand]"
            value="<%=motocycle.brand%>"
          />
        </div>
        <div class="form-group">
          <label for="image"> Image </label>
          <input
            class="form-control"
            type="file"
            id="image"
            name="image"
            accept="image/*"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="number"
            name="motocycle[price]"
            min="1"
            step="1"
            value="<%=motocycle.price%>"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="motocycle[year]"
            value="<%=motocycle.year%>"
          />
        </div>
        <div class="form-group">
          <!-- will try here -->
          <textarea
            class="input form-control"
            class="form-control"
            type="text"
            name="motocycle[description]"
          ><%=motocycle.description%></textarea>
        </div>
        <div class="form-group">
          <button
            class="btn btn-lg btn-default btn-block btn-primary"
            type="submit"
          >
            Submit
          </button>
        </div>
      </form>
      <a href="/motocycles">Back</a>
    </div>
  </div>
</div>

<% include ../partials/footer %>
