<% include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">Motofy</p>
      <div class="list-group">
        <li class="list-group-item active">info</li>
        <li class="list-group-item">info</li>
        <li class="list-group-item">info</li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="thumbnail">
        <img class="img-responsive" src="<%= motocycle.image %>" alt="Image" />
        <div class="caption">
          <h4 class="pull-right">Price paid: $<%= motocycle.price %></h4>
          <h4><%= motocycle.name %></h4>
          <p><%= motocycle.brand %></p>
          <p><%= motocycle.year %></p>
          <p><%= motocycle.description %></p>
          <p>Submitted by: <em> <%= motocycle.author.username %> </em></p>
          <% if (currentUser && motocycle.author.id.equals(currentUser._id) ||
          (currentUser && currentUser.isAdmin)) { %>
          <a href="/motocycles/<%=motocycle._id%>/edit" class="btn btn-warning"
            >Edit info about <%=motocycle.name%></a
          >
          <form
            action="/motocycles/<%=motocycle._id%>?_method=DELETE"
            method="POST"
            class="delete-form"
          >
            <button
              onclick="return confirm('Are you sure you want to delete info on <%=motocycle.name%>?');"
              class="btn btn-danger"
            >
              Delete info about <%=motocycle.name%>
            </button>
          </form>
          <%}%>
        </div>
      </div>
      <div class="well">
        <div class="text-right">
          <a
            class="btn btn-success"
            href="/motocycles/<%=motocycle._id%>/comments/new"
            >Add New Comment
          </a>
        </div>
        <hr />
        <% motocycle.comments.forEach((comment) => { %>
        <div class="row">
          <div class="col-md-12">
            <strong> <%= comment.author.username %> </strong>
            <span class="pull-right"> 10 days ago </span>
            <p><%= comment.text %></p>
            <% if(currentUser && comment.author.id.equals(currentUser._id)||
            (currentUser && currentUser.isAdmin)) { %>
            <a
              href="/motocycles/<%=motocycle._id%>/comments/<%=comment._id%>/edit"
              class="btn btn-xs btn-warning"
              >Edit
            </a>
            <form
              action="/motocycles/<%=motocycle._id%>/comments/<%=comment._id%>?_method=DELETE"
              method="POST"
              class="delete-form"
            >
              <input
                type="submit"
                class="btn btn-xs btn-danger"
                value="Delete"
                onclick="return confirm('Are you sure you want to delete comment on <%=motocycle.name%>?');"
              />
            </form>
            <% } %>
          </div>
        </div>
        <%})%>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
