<% include partials/header %>

<!-- header -->
<header class="jumbotron">
  <div class="container">
    <h1>This is the motocycles page!</h1>
    <p>Take a look at the best looking bikes in the world</p>
    <p>
      <a class="btn btn-primary btn-large" href="motocycles/new"
        >Add New Moto</a
      >
    </p>
  </div>
</header>

<div class="row text-center" style="display:flex; flex-wrap:wrap">
  <% motocycles.forEach(motocycle => { %>
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <img src="<%=motocycle.image%>" alt="photo" />
      <div class="caption">
        <h4><%=motocycle.name%></h4>
        <h5><strong><%=motocycle.brand%></strong></h5>
        <p>
          <a href="/motocycles/<%=motocycle._id%>" class="btn btn-primary"
            >More Info</a
          >
        </p>
        <h5><em><%=motocycle.description%></em></h5>
      </div>
    </div>
  </div>
  <% }); %>
</div>

<% include partials/footer %>
