<% include ../partials/header %>
<h1>Welcome to users page!!!!</h1>
<div class="container">
  <div class="row">
    <div class="row text-center" style="display:flex; flex-wrap:wrap">
        <% users.forEach(user => { %>
        <div class="col-md-2 col-sm-3">
            <div class="thumbnail">
                <a href="/users/<%=user._id%>">
                    <div class="caption userpic">
                    <!-- <a href=""></a> -->
                    <img src="<%=user.avatar%>" 
                    alt="photo" 
                    style="width:5em; height:5em"/>
                </a>
                <h3><strong><%=user.username%></strong></h3>
                
                    <!-- <h5>
                            <em>
                                First name:
                            </em>
                        </h5>
                    <h5><%=user.firstname%></h5>
                    <h5>
                            <em>
                                Last name:
                            </em>
                        </h5>
                    <h5><%=user.lastname%></h5>
                    <h5>
                        <em>
                            Date of registration
                        </em>
                    </h5>
                    <h5><%=user.dateOfRegistration%></h5>
                    <h5>
                        <em>
                        Date of birth:
                        </em>
                    </h5>
                    <h5><%=user.dob%></h5>
                    <h5>Italy</h5>
                    <h5>Rome</h5> -->
               
               
                </div>
            </div>
        </div> 
        <% }) %>       
    </div>
  </div>
</div>
<% include ../partials/footer %>
